.btn {
  padding: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 160px;
  text-align: center;
  color: $Black;
  background: $White;
  border: $Black 1px solid;
  cursor: pointer;
  transition: all 200ms ease-in;

  &:hover {
    color: $White;
    background: $Black;
  }

  &--top {
    display: none;

    @include respond(small) {
      display: block;
    }
  }

  &--bot {
    display: block;
    margin: 40px auto 0;

    @include respond(small) {
      display: none;
    }
  }
}
